<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Charts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

  <div class="ion-padding">

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>World Map</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="worldchart" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card> -->


    <ion-card>
      <ion-card-header>
        <ion-card-title>Pie Chart - Indiawide Cases Report</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="pieChart2" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Column Chart - world wide Cases Report</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="columnChart" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Bar Chart - Country Wise cases Chart Report</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Spline Chart - Country wise cases Report</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="spline" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pie Chart - Country wise cases Report</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="pieChart" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card>

    
  </div> 


  
</ion-content >